@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #191919;
  font-weight: 400;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 106px;
  letter-spacing: -0.05em;
  line-height: 95px;
  margin-bottom: 35px;
  display: inline-block;
  transition: 0.3s linear;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 50px;
  width: 40%;
  transition: 0.3s linear;
}

h4 {
  line-height: 20px;
  font-weight: 700;
}

h3 {
  font-size: 14px;
}

button {
  font-family: "Roboto", sans-serif;
  background: #191919;
  color: #ffffff;
}

.bg {
  background-color: #ffc017;
}

.max-width {
  max-width: 1192px;
}

header {
  border-bottom: solid 1px #191919;
  display: flex;
  align-items: center;
  height: 75px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  transition: background-color 0.3s linear;
}

.headerchanged {
  background-color: #ffffff;
}

.container_logo_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1192px;
  margin-inline: auto;
}

nav {
  display: flex;
}

nav ul li {
  display: inline-block;
}

nav ul li {
  font-size: 14px;
  padding-inline: 11px;
}

nav ul li button {
  padding-inline: 20px;

  padding: 10px 18px;
  border-radius: 50px;
  margin-left: 8px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 300ms linear;
}

nav ul li button.achanged {
  background-color: #1a8917;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

main {
  position: relative;
  top: 75px;
}
.container_top {
  height: 456px;
  border-bottom: solid 1px #191919;
  align-content: center;
}

.container_top div {
  margin-inline: auto;
}

.image_container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.container_top button {
  width: 213px;
  font-size: 20px;
  padding: 8px 0;
  border-radius: 50px;
  border: none;
  background-color: #191919;
  color: #ffffff;
  cursor: pointer;
}

.container_box {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  margin-inline: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container_box > div:first-of-type {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 500;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.container_box > div:first-of-type img {
  margin-right: 10px;
}

.box {
  display: flex;
  width: 33.3%;
  align-items: baseline;
  margin-bottom: 17px;
}

.number {
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.firstrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lastrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box_list_description .lastrow {
  justify-content: space-between;
  margin-right: 20px;
}

.lastrow img {
  padding-left: 5px;
}

.box span {
  color: #cccccc;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
  margin-right: 16px;
}

.author {
  display: flex;
  font-size: 13px;
  margin-left: 8px;
  font-weight: 500;
}

.box img,
.box_list img {
  width: 20px;
  border-radius: 5px;
}

.box img.circle,
.box_list img.circle {
  border-radius: 50%;
  border: 1px solid #f2f2f2;
}

.box p,
.box_list p {
  color: #6b6b6b;
  font-size: 13px;
}

.box img.star {
  width: 15px;
}

.middle {
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
  padding-top: 56px;
  gap: 10%;
}

.list {
  display: flex;
  width: 680px;
  padding-block: 12px;
}

.container_list {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.box_list {
  display: flex;
  margin-bottom: 48px;
  align-items: center;
}

.box_list_description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.box_list_description h4 {
  line-height: 20px;
  font-size: 20px;
  font-weight: 700;
}

.box_list_description span {
  color: #6b6b6b;
  width: 90%;
}

.box_list_description span.type {
  background-color: #f2f2f2;
  padding: 2px 8px;
  border-radius: 100px;
  font-size: 13px;
}

.box_list_img {
  display: flex;
}

.box_list_img img {
  width: 200px;
}

.lastrow_text,
.lastrow_bookmark {
  display: flex;
}

.discover {
  display: flex;
  flex-direction: column;
  width: 35%;
  position: sticky;
  top: 110px;
  height: 100%;
}

.discover h5 {
  padding-bottom: 16px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.discover div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 32px;
}

.discover div a {
  display: flex;
  text-decoration: none;
  color: #6b6b6b;
  padding: 8px 16px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  font-size: 14px;
}

.link_ut {
  border-top: 1px solid #cccccc;
  padding-block: 24px;
}

.discover .link_ut a {
  border: 1px solid white;
  margin-bottom: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 1250px) {
  .container_logo_nav,
  .container_top,
  .container_box,
  .middle {
    padding-inline: 5%;
  }
}

@media screen and (max-width: 1050px) {
  h1 {
    font-size: 85px;
  }
  h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .box {
    width: 50%;
  }
}

@media screen and (max-width: 926px) {
  h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 902px) {
  .middle {
    flex-direction: column;
  }
  .discover {
    order: -1;
    position: relative;
    top: 0;
    width: 100%;
  }
  .list {
    width: 100%;
  }
  .link_ut {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 850px) {
  h1 {
    width: 55px;
  }
  _ h2 {
    width: 250px;
  }
}

@media screen and (max-width: 850px) {
  h1 {
    width: 250px;
  }
  h2 {
    width: 200px;
  }
}

@media screen and (max-width: 746px) {
  .image_container {
    display: none;
  }
  h1 {
    font-size: 85px;
    width: 100%;
  }
  h2 {
    font-size: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 728px) {
  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 552px) {
  nav ul li:nth-child(4) {
    display: none;
  }
  h2 {
    width: 100%;
    font-size: 18px;
  }
  h1 {
    font-size: 65px;
  }
}
